{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Cadastrar Funcionário</h1>
        <p>Preencha o formulário abaixo para cadastrar um novo funcionário:</p>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}